.layout-base {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}

.header-base {  
  display: flex;
  align-items: center;
}

.content-base {
  /* display: flex;
  flex-direction: column; */
  padding: 0 48px;
}

.content-breadcrumb-base {
  margin: 16px 0;
}

.content-div1-base {
  min-height: 280px;
  padding: 24px;
}

.footer-base {
  text-align: center;
}
